mss>=9.0.1
Pillow>=10.0.0
winrt-runtime>=2.0.0
winrt-Windows.Foundation>=2.0.0
winrt-Windows.Foundation.Collections>=2.0.0
winrt-Windows.Globalization>=2.0.0
winrt-Windows.Media.Ocr>=2.0.0
winrt-Windows.Graphics.Imaging>=2.0.0
winrt-Windows.Storage.Streams>=2.0.0
ctranslate2>=4.0.0
requests>=2.31.0
sentencepiece>=0.1.99
huggingface_hub>=0.19.0
